@import url("https://use.typekit.net/gkg5tdy.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@900&display=swap');

.info {
    background-color: #242424;
}

.subheading {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
}

.bodytext {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
}
